@use 'sass:math';
@use 'sass:list';

@use "strip-units";
@use "decimal";

@function ratio-to-percentage($ratio) {
  $w: list.nth($ratio, 1);
  $h: list.nth($ratio, 3);
  @return decimal.decimal-ceil(math.div($h, $w) * 100%, 3);
}

@function px-to-rem($pixels) {
  $number: strip-units.strip-units($pixels);
  $value: calc($number / 16);
  @if ($value == 0) {
    @return 0;
  }
  @return decimal.decimal-ceil($value, 3) + rem;
}