*

!.gitignore
!.npmignore

!templates
!templates/**
!src/
!src/main.js

!index.js
!package.json
!rollup.config.js
!README.md

!package-lock.json
!yarn.lock
!pnpm-lock.yaml

!AUTHORS
!CONTRIBUTING.md
!GOVERNANCE.md
!MAINTAINERS.md
!LICENSE

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build