*

!.gitignore

!template-*/
!template-*/**
!src/
!src/main.js

!index.js
!package.json
!README.md

!package-lock.json
!yarn.lock
!pnpm-lock.yaml

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build